body {
    background-color: rgb(232, 215, 229);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    a {
        img {
            background-color: #2e6329;
            border: 1px solid #fff;
            position: sticky;
            z-index: 5;
            border-radius: 50%;
            bottom: 20px;
            transition: ease 1.3s;
            animation: efecto 1s normal;
            animation-name: cambiarColor;
            animation-duration: 6s;
        }
    }

    .boton {
        width: 80px;
        transition: ease 1s;
        left: 90%;
    }
}

&:hover {
    transform: scale(1.1);
    transition: 1.3s;
}
